<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="sss">
        <classes>
            <class name="batch4.testng.TestNgTest">
            </class>
        </classes>
    </test>
</suite>